.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background:#239c27;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nurserycard {
   margin-left: 5%;
   padding-top: 2%;
  }
  .nurseryimage h1{
      margin-bottom: 3%;
  }
  .nurseryimage p {
    margin-bottom: 1%;
  }
  .nurseryimage p i{
  padding: 0;
  }
  .nurserycard {
    line-height: 30px;
    text-align: left;
  }
  .nurseryimage {
    overflow: hidden;
    margin-bottom: 4%; 
    height: 450px;
    width: 80%;
    margin:4% 10% 4% 10%;
    background-size: 100% 100%;
    border-radius: 20px;
  }
  .nurseryimage:hover{
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
  }
  button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding:5px 20px;
    border-radius: 10px;
  }