#sidebar{
    height:100%;
    width:240px;
    position: absolute;
    left: 0;
    top: 60px;
    display: block;
    z-index:100;
    background:#027581;
    color: #fff;
}
.toggle-btn{
    margin-left: 20px;
    position: fixed;
    left: 20px;
    top: 5px;
    padding: 10px;
    z-index: 1000;
    border: none;
    background: none;
}
.sidebar-menu{
    padding: 1rem;
}
#sidebar li{
    margin-bottom: 1.2rem;
}
#sidebar a{
    color: #fff;
    font-size: 0.9rem;
}
#sidebar i{
    color: #fff;
}
#sidebar a span:last-child{
padding-left: 0.6rem;
} 
