.sidebar{
    height: 100%;
    width:240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index:100;
    background:#027581;
    color: #fff;
    overflow-y: auto;

}
.brand{
white-space: nowrap;
margin-top: 20px;
font-size: 18px;
color: #fff;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;

}
.sidebar-menu{
    padding: 1rem;
}
.sidebar li{
    margin-bottom: 1.2rem;
}
.sidebar a,i{
    color: #fff;
    font-size: 0.9rem;
}

.sidebar a span:last-child{
padding-left: 0.6rem;
}
