.content-section {
    margin: 1em;
}
.container {
    background:#fff;
    border-radius: 7px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    max-width: 1000px;
    margin: 2% auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}
.cart-item img{
    width: 180px;
    height: 150px;
}
.btn-danger {
    color: white;
    background-color: #f05c0d;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}


.tooltip {
    position: relative;
  }
  
 #tooltiptext {
    display: none;
    width: 300px;
    height: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 0.625em;
    padding: 5px 5px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
   #tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover #tooltiptext {
    display: block;
    opacity: 1;
  }
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
}
.tlist
{   overflow-x: scroll;
    padding: 1rem;
    max-width: 1000px;
}
.tlist table{
    width: 100%;
}
.tlist thead{
    background:#efefef;
    text-align: left;
}
.tlist thead th{
    text-align: center;
}
th{
    padding: 1rem 1rem;
}
tr td{
    padding:0;
    font-size: 0.9rem;
    text-align: center;
}
@media  screen and (max-width:760px) {
    #tooltiptext{
        font-size: 0.5em;
    }
}

