.content-section {
    margin: 1em;
}
.container {
    background:#fff;
    border-radius: 7px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    max-width: 1000px;
    margin: 2% auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}
.cart-item img{
    width: 180px;
    height: 150px;
}

.cart-item,.cart-quantity,.cart-action {
    align-self: center;
    text-align: center;
    margin-top: 2%;
    width: 25%;
}
.btn-danger {
    color: white;
    background-color: #f05c0d;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
}
.tlist
{   overflow-x: scroll;
    padding: 1rem;
    max-width: 1000px;
}
.tlist table{
    width: 100%;
}
.tlist thead{
    background:#efefef;
    text-align: left;
}
.tlist thead th{
    text-align: center;
}
table .fa-pencil-alt{
    color: #0275d8;
}
table .edit{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    color: #0275d8;
    margin-right: 10px;
}
table  .delete{
    border: none;
    color: #e72f0f;
    padding: 10px;
    cursor: pointer;
    background: none;
}
table .fa-trash-alt{
    color: #e72f0f;
  
}
th{
    padding: 1rem 1rem;
}
tr td{
    padding:0;
    font-size: 0.9rem;
    text-align: center;
}

