
header{
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ccc;
}
.welcome{
    display: flex;
}
.welcome i{
    margin-top: 6.5%;
}
.social-icons{
    display: flex;
    position: fixed;
    right: 0;
    padding-right:20px ;

}
.social-icons  .sbtn{
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: 1rem;
    color: #fff;
    background: #35a735;
    border: 1.5px solid #000;
}
.social-icons  .lbtn{
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-left: 20px;
   background: none;
   cursor: pointer;
   white-space: nowrap;
   margin: 1rem;
   border: 1.5px solid #000;
   color: #000;
}
.social-icons  .lbtn:hover{
    background: #ec3939;
    color:#fff;
    border: 1.5px solid #ec3939;
}
.social-icons  .sbtn:hover{
    background: #69da69;
    color:#fff;
    border: 1.5px solid #69da69;
}
.social-icons span{
    margin: 1rem;
}
