.events{
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 100%;
   
}
.events .details .card-category{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #c3bcbc;
    font-weight: 600;
    display: block;
}
.events ul{
    padding-top: 50px;
}
.events ul li{
    border-radius: 10px;
    height: 300px;
    margin-bottom: 4%;
    background: #f1f1f1;
}
.events ul li img{
position: relative;
padding: 20px;
width: 30%;
height: 100%;
float: left;
text-align: center;
}

.btn{
    border: none;
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.events ul li .details{
    padding: 20px;
}

.clear{
    clear: both;
}