.events{
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 100%;  
}
.details h2{
    text-transform: uppercase;
}
.details p{
    margin-bottom: 20px;
    text-align: justify;
    height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.details a{
    color: #664c05;
}
.events .details .card-category{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #664c05;
    font-weight: 600;
    display: block;
}
.events ul{
    padding-top: 50px;
}
.events ul li{
    border-radius: 10px;
    /* height: 350px; */
    margin-bottom: 4%;
    background: #f1f1f1;
}
.events ul li img{
position: relative;
padding: 20px;
width: 30%;
/* height: 100%; */
float: left;
border-radius: 10%;
text-align: center;
}
.details .Abtn{
    text-align: center;
    border: none;
    background: #4CAF50;
    color: #fff;
    white-space: nowrap;
    padding: 8px 20px;
    border-radius: 30px;
}
.events ul li .details{
    padding: 20px;
}
.clear{
    clear: both;
}
@media screen and (max-width: 960px){
    .events ul li{
        display: flex;
        flex-direction: column;
    }
    .events ul li img{
        width: 100%;
    }
}