.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background:#239c27;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.categories{
    position: relative;
    column-count: 3;
    padding: 20px;
}

.image{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}
.image img{
    width: 100%;
}
.image h1{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    background:#5c5c5c;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;

}