.SearchedView{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px 20px;
}
@media screen and (max-width:667px) {
    .SearchedView{
        grid-template-columns:1fr 1fr;
        gap: 5px 5px;
    }
}