.main-content{
    position: absolute;
    left: 240px;
    
}
main{
    margin-top: 60px;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 82.2vw;
}

.form {
    position: absolute;
    left: 25%;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    width: 50%;
}

.dash-title{
    color: black;
    padding: 1rem;
    text-align: center;
  }