
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li:last-child{
    margin-right: 80px;
}

.nav-details ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    font-weight: 700;
    color: #4CAF50;
}

a{
    color: #030303;
}

.login-btn{
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.login-btn:hover{
    background: #4CAF50;
    color: #fff;
    border: none;
}


.btn{
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}