
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #ffffff;
}
.navbar.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0;
    z-index: 100;
}
nav{
    text-align: right; 
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li:last-child{
    margin-right: 80px;
}
nav ul a:hover{
    background: #4CAF50;
    color: #fff;
    padding: 5%;
    border-radius: 5px;
}

.nav-details ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    padding: 5%;
    color: #000;
}

.login-btn{
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.login-btn:hover{
    background: #4CAF50;
    color: #fff;
    border: none;
}


.btn{
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}