main{
    margin-top: 60px;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 82.2vw;
}
.main-content{
    position: absolute;
    left: 240px;
    
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
    height: 750px;
  }

.modal .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #111111;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}