main{
    margin-top: 60px;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 82.2vw;
}
.main-content{
    position: absolute;
    left: 240px;
    
}
header{
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ccc;

}