body{
    background: #f1f5f9;
}

.main-content{
    position: absolute;
    left: 240px;
    
}
header{
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ccc;
}
.welcome{
    display: flex;
}
.welcome i{
    margin-top: 6.5%;
}
.social-icons{
    display: flex;
    position: fixed;
    right: 0;
    padding-right:20px ;

}
.social-icons i{
    color: black;
    background-color: #fff;
    margin-top: 6.5%;
}
.social-icons span{
 margin-left: 1rem;
}
