.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Single product css */
.head {
    display: flex;
    height : 800px;
  }
.single-product .col-2 img{
    padding: 0;
    border-radius: 20px;
    height: 602px;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input{
    width: 100px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}
.details h3{
    margin: 20px 0;
}

.pdesc{
    text-align: justify;
    height:300px;
    overflow:hidden;
} 
.Pdetails button {
    text-align: center;
    background: #4CAF50;
    border: none;
    color: #fff;
    width: 150px;
    height: 25px;
    margin: 30px 0;
    border-radius: 10px;
    white-space: nowrap;
}
.details button a{
    color: #fff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  
  .grid img {
    border-radius: 20px;
  }
  
  .grid img:hover {
    opacity: 0.6;
  }
.title{
    text-align: center;
    margin:0 auto 80px;
    line-height: 60px;
}

.Psmall-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.Psmall-container h2{
    text-transform: uppercase;
}

.shop_page .Psmall-container .row {
    justify-content: space-between;
  }
  input,select:focus {
    outline: none;
  }
  
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.col-4 p{
    font-size: 14px;
    line-height: 50px;
}