#main-content{
    position: absolute;
    left: 240px;
    
}
.olist{
    width: 100%;
    background:#fff;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
}
.olist table{
    width: 100%;
}
.olist thead{
    background:#efefef;
    text-align: left;
}

table .fa-pencil-alt{
    color: #0275d8;
   
}
table .edit{
    padding: 10px;
    background: none;
    cursor: pointer;
    color: #0275d8;
    margin-right: 10px;
}
table  .delete{
    color: #e72f0f;
    padding: 10px;
    cursor: pointer;
    background: none;
}
table .fa-trash-alt{
    color: #e72f0f;
  
}
th{
    padding: 1rem 1rem;
}
tr td{
    padding:0;
    font-size: 0.9rem;
}
table img{
     width: 100px;
     height: 100px;
     border-radius: 20px;
    }
@media screen and (max-width:1000px) {
.olist{
    width: 1200px;
    }
        
}